@import "tailwindcss";

.white-svg {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.progress-background {
  padding: 4px;
}

.progress {
  width: 0%;
  text-align: center;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
}
